<div class="col-12 text-center col-md-6 order-md-3 text-md-start col-lg-3 order-lg-1">
    <div class="col-12">
    <a href="{{ path('sylius_shop_homepage') }}" class="d-inline-block mb-4" aria-label="{{ 'sylius.ui.sylius_logo_aria'|trans }}">
        <div style="width: 10rem">
            {% include '@SyliusShop/shared/logo.html.twig'%}
        </div>
    </a>

    <div class="mb-3">
        &copy; {{ 'sylius.ui.your_store'|trans }}, {{ 'sylius.ui.powered_by'|trans }}
        <a href="https://sylius.com" target="_blank" class="text-primary-emphasis text-decoration-underline">Sylius</a>
    </div>
    </div>
    <div class="col-12">

    <div class="mb-3">
        &copy;
        <a href="https://www.pifact.com" target="_blank" class="text-primary-emphasis text-decoration-underline">{{ 'pifact.ui.powered_by'|trans }} PiFact</a>
        <a href="https://www.pifact.com" class="d-inline-block ms-2 mb-4" aria-label="Logo PiFact">
                {% include '@ProgramariSyliusPifactPlugin/shared/programari_logo.html.twig'%}
        </a>
    </div>
</div>
</div>
